.adedfcff9f3957d674acc51a24698a6f {
	position:	absolute;
	top:		0;
	left:		0;

	width:	16px;
	height:	16px;
	
	background:	url( "adedfcff9f3957d674acc51a24698a6f.png" ) no-repeat;

}

	#accme.adedfcff9f3957d674acc51a24698a6f {
		background-position:	0px 0px;

	}

	#arrow-curve-000-left.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-16px 0px;

	}

	#card-address.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-32px 0px;

	}

	#inbox-document.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-48px 0px;

	}

	#bug.adedfcff9f3957d674acc51a24698a6f {
		background-position:	0px -16px;

	}

	#calendar.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-16px -16px;

	}

	#chart-up-color.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-32px -16px;

	}

	#report.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-48px -16px;

	}

	#clock-history.adedfcff9f3957d674acc51a24698a6f {
		background-position:	0px -32px;

	}

	#envelope.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-16px -32px;

	}

	#globe-green.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-32px -32px;

	}

	#sticky-note-pin.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-48px -32px;

	}

	#trophy.adedfcff9f3957d674acc51a24698a6f {
		background-position:	0px -48px;

	}

	#user-business.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-16px -48px;

	}

	#user-female.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-32px -48px;

	}

	#users.adedfcff9f3957d674acc51a24698a6f {
		background-position:	-48px -48px;

	}
