.ddc3e637b54f82b34708a719752751db {
	position:	absolute;
	top:		0;
	left:		0;

	width:	16px;
	height:	16px;
	
	background:	url( "ddc3e637b54f82b34708a719752751db.png" ) no-repeat;

}

	#book-open.ddc3e637b54f82b34708a719752751db {
		background-position:	0px 0px;

	}

	#mail.ddc3e637b54f82b34708a719752751db {
		background-position:	-16px 0px;

	}

	#newspaper.ddc3e637b54f82b34708a719752751db {
		background-position:	0px -16px;

	}
