.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.profile > .projectBar > .nav li {
  position: relative;
}
.profile > .projectBar > .nav li.active > a {
  color: #333333;
  font-weight: bold;
  background-color: #DDD;
}
.profile > .projectBar > .nav li.hasIcon > a {
  padding-left: 26px;
}
.profile > .projectBar > .nav li.hasIcon > a i {
  left: -9px;
  position: absolute;
  top: 2px;
}
.profile > .projectBar > .nav li > a {
  font-size: 11px;
  line-height: 15px;
  color: #333333;
}
.profile > .projectBar > .thumbnail {
  border-width: 1px 0 1px 1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.profile > .contentBar {
  border-left: 1px solid #DDDDDD;
  margin-left: 0;
  min-height: 600px;
  padding-left: 17px;
  width: 622px;
}
.profile > .contentBar > .contentHeader > .pageTitle {
  font-size: 16px;
  font-weight: bold;
}
.profile > .contentBar > .contentSubHeader > .pageTitle {
  color: #808080;
  font-size: 11px;
  font-weight: normal;
  padding-left: 21px;
}
.profile > .contentBar h1 {
  font-size: 16px;
}
.viewer > .contentBar .welcome-msg {
  margin-bottom: 8px;
  margin-top: 3px;
  padding-bottom: 14px;
}
