.profile {
	> .projectBar {
		> .nav {
			li {
				position:relative;
				
				&.active {
					> a {
						color:@grayDark;
						font-weight:bold;
						background-color:#DDD;
 						
					}
				}
				
				&.hasIcon {
					> a {
						padding-left: 26px;
					
						i {
							left: -9px;
							position: absolute;
							top: 2px;
						}
					}
				}
				
				> a {
					font-size: 11px;
					line-height: 15px;
					color:@grayDark;
					
					
				}
			}
		}
		> .thumbnail {
			border-width: 1px 0 1px 1px;
			.border-radius(4px 0 0 4px);
		}
	}
	
	> .contentBar {
		border-left: 1px solid #DDDDDD;
		margin-left: 0;
		min-height: 600px;
		padding-left: 17px;
		width: 622px;
		
		> .contentHeader {
			> .pageTitle {
				font-size:16px;
				font-weight:bold;
			}
		}
		
		> .contentSubHeader {
			> .pageTitle {
				color: #808080;
				font-size: 11px;
				font-weight: normal;
				padding-left: 21px;
			}
		}
		
		h1 {
			font-size:16px;
		}
	}
	
	> .infoBar {
		
	}
}